html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media  (min-width: 1170px) and (max-width: 406px) {
  #monky{

    position:absolute ;
    top: 0;
    left: 0;
  }
}
