html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */

@media (min-width: 900px) {
  #ostrich  {
    border:red;
    color: green;
   position: absolute;
   left: 0;

  }
}
